<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-pdfplugin" version="0.0.1">
    <name>Cordova PDF</name>

    <description>An Android Cordova plugin that allows users to download view pdf in cordova</description>
    <license>MIT</license>

    <keywords>cordova pdf plugin</keywords>
    <repo>https://github.com/greekgeek/cordovapdf.git</repo>
    <issue>https://github.com/greekgeek/cordovapdf/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/pdfplugin.js" name="pdfplugin">
        <clobbers target="window.plugins.pdfplugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PDFplugin">
                <param name="android-package" value="com.greek.cordova.plugin.PDFplugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/PDFplugin.java" target-dir="src/com/greek/cordova/plugin" />
    </platform>
</plugin>