<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-filedownloader" version="0.0.1">
    <name>File Downloader</name>

    <description>An Android Cordova plugin that allows users to download/view file in cordova</description>
    <license>MIT</license>

    <keywords>cordova filedownloader plugin</keywords>
    <repo>https://github.com/greekgeek/filedownload-cordova-plugin.git</repo>
    <issue>https://github.com/greekgeek/filedownload-cordova-plugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/filedownloader.js" name="filedownloader">
        <clobbers target="window.plugins.filedownloader" />
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET"/>
          <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <framework src="com.android.support:appcompat-v7:23.0.1" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileDownloader">
                <param name="android-package" value="com.greek.cordova.plugin.FileDownloader"/>
            </feature>
        </config-file>

        <source-file src="src/android/FileDownloader.java" target-dir="src/com/greek/cordova/plugin" />
    </platform>
</plugin>